<!DOCTYPE html>
<html>
<head>
    <title>Kelime Ekle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="navbar">
        <a href="/">Ana Sayfa</a>
        <a href="/register">Kayıt Ol</a>
        <a href="/login">Giriş Yap</a>
        <a href="/add-word">Kelime Ekle</a>
        <a href="/words">Kelimeler</a>
        <a href="/quiz">Quiz</a>
        <a href="/report">Analiz</a>
        <a href="/settings">Ayarlar</a>
    </div>

    <h1>Kelime Ekle</h1>

    <form method="POST">

        <input type="text"
               name="english"
               placeholder="İngilizce Kelime"
               required>

        <br><br>

        <input type="text"
               name="turkish"
               placeholder="Türkçe Karşılığı"
               required>

        <br><br>

        <input type="text"
               name="sample"
               placeholder="Örnek Cümle"
               required>

        <br><br>

        <button type="submit">Kelime Ekle</button>

    </form>

</body>
</html>