<!DOCTYPE html>
<html>

<head>
    <title>Kelime Ekle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        <a href="/">Ana Sayfa</a>
        <a href="/register">Kayıt Ol</a>
        <a href="/login">Giriş Yap</a>
        <a href="/add-word">Kelime Ekle</a>
        <a href="/words">Kelimeler</a>
        <a href="/quiz">Quiz</a>
        <a href="/wordle">Wordle</a>
        <a href="/word-chain">Word Chain</a>
        <a href="/learned-words">Öğrenilenler</a>
        <a href="/report">Analiz</a>
        <a href="/settings">Ayarlar</a>
    </div>

    <div class="card">
        <h1>Yeni Kelime Ekle</h1>

        <form method="POST" enctype="multipart/form-data">

            <input type="text" name="english" placeholder="İngilizce Kelime" required>
            <br><br>

            <input type="text" name="turkish" placeholder="Türkçe Karşılığı" required>
            <br><br>

            <input type="text" name="sample" placeholder="Örnek Cümle" required>
            <br><br>

            <input type="file" name="picture" accept="image/*">
            <br><br>

            <button type="submit">Kelime Ekle</button>

        </form>
    </div>

</body>

</html>