<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="navbar">
        <a href="/">Ana Sayfa</a>
        <a href="/register">Kayıt Ol</a>
        <a href="/login">Giriş Yap</a>
        <a href="/add-word">Kelime Ekle</a>
        <a href="/words">Kelimeler</a>
        <a href="/quiz">Quiz</a>
        <a href="/wordle">Wordle</a>
        <a href="/word-chain">Word Chain</a>
        <a href="/learned-words">Öğrenilenler</a>
        <a href="/report">Analiz</a>
        <a href="/settings">Ayarlar</a>
    </div>

    <div class="card">
        <h1>{{ title }}</h1>
        <p>{{ message }}</p>

        <a class="button-link" href="{{ button_link }}">
            {{ button_text }}
        </a>
    </div>

</body>
</html>