<!DOCTYPE html>
<html>
<head>
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="navbar">
        <a href="/">Ana Sayfa</a>
        <a href="/register">Kayıt Ol</a>
        <a href="/login">Giriş Yap</a>
        <a href="/add-word">Kelime Ekle</a>
        <a href="/words">Kelimeler</a>
        <a href="/quiz">Quiz</a>
        <a href="/report">Analiz</a>
        <a href="/settings">Ayarlar</a>
    </div>

    <h1>Kayıt Ol</h1>

    <form method="POST">
        <input type="text" name="username" placeholder="Kullanıcı Adı" required>
        <br><br>
        <input type="password" name="password" placeholder="Şifre" required>
        <br><br>
        <button type="submit">Kayıt Ol</button>
    </form>

</body>
</html>