<!DOCTYPE html>
<html>

<head>
    <title>Wordle Bulmaca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        <a href="/">Ana Sayfa</a>
        <a href="/register">Kayıt Ol</a>
        <a href="/login">Giriş Yap</a>
        <a href="/add-word">Kelime Ekle</a>
        <a href="/words">Kelimeler</a>
        <a href="/quiz">Quiz</a>
        <a href="/wordle">Wordle</a>
        <a href="/report">Analiz</a>
        <a href="/settings">Ayarlar</a>
    </div>

    <div class="card">

        <h1>Kelime Bulmaca</h1>

        <p class="small-text">
            Öğrendiğin İngilizce kelimeleri tahmin ederek tekrar et.
        </p>

        {% if word %}

        <p>
            İpucu: Kelime {{ word|length }} harfli.
        </p>

        <form method="POST">

            <input type="hidden" name="target_word" value="{{ word }}">

            <input type="text" name="guess" placeholder="Tahminini yaz" required>

            <br><br>

            <button type="submit">Tahmin Et</button>

        </form>

        {% if guess %}

        <h2>Son Tahmin: {{ guess }}</h2>

        <div class="wordle-row">

            {% for letter in guess %}
            <span class="letter-box {{ result[loop.index0] }}">
                {{ letter.upper() }}
            </span>
            {% endfor %}

        </div>

        {% if is_win %}
        <p class="success-text">Tebrikler! Kelimeyi doğru bildin 🎉</p>
        {% else %}
        <p class="small-text">Yeşil: doğru yer, Sarı: kelimede var, Gri: yok.</p>
        {% endif %}

        {% endif %}

        {% else %}

        <h2>🎮 Wordle İçin Kelime Gerekiyor</h2>

        <p>
            Önce sisteme birkaç kelime eklemelisin.
        </p>

        {% endif %}

    </div>
    <div class="footer">
        6 Sefer Tekrar Prensibi ile Kelime Ezberleme Sistemi
        <small>Version 1.0 | Yazılım Yapımı Dönem Projesi</small>
    </div>

</body>

</html>