<!DOCTYPE html>
<html>

<head>
    <title>Kelimeler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        <a href="/">Ana Sayfa</a>
        <a href="/register">Kayıt Ol</a>
        <a href="/login">Giriş Yap</a>
        <a href="/add-word">Kelime Ekle</a>
        <a href="/words">Kelimeler</a>
        <a href="/quiz">Quiz</a>
        <a href="/report">Analiz</a>
        <a href="/settings">Ayarlar</a>
    </div>

    <h1>Eklenen Kelimeler</h1>
    <form method="GET" action="/words">
        <input type="text" name="search" placeholder="Kelime ara..." value="{{ search }}">

        <br><br>

        <button type="submit">Ara</button>
    </form>

    <table>

        <tr>
            <th>ID</th>
            <th>İngilizce</th>
            <th>Türkçe</th>
            <th>Örnek Cümle</th>
            <th>Tekrar Sayısı</th>
            <th>Durum</th>
        </tr>

        {% for word in words %}

        <tr>
            <td>{{ word[0] }}</td>
            <td>{{ word[1] }}</td>
            <td>{{ word[2] }}</td>
            <td>{{ word[3] }}</td>
            <td>{{ word[4] }}</td>

            <td>
                {% if word[5] == 1 %}
                <span class="badge">Öğrenildi</span>
                {% else %}
                <span class="badge">Devam Ediyor</span>
                {% endif %}
            </td>
        </tr>

        {% endfor %}

    </table>

</body>

</html>